.main-container {
width : 70%;
margin: 0 auto;
border: 2px solid;
height: 500px;
}
.vl {
    border-left: 4px solid;
    height: 500px;
    position: absolute;
    left: 30%;
  }
  .hr {
    width: 21%;
    float: left;
    margin-top: 55px;
    border: 2px solid;
  }
  .url-input {
    position: absolute;
    margin: 10px;
    width: 8%;
    height: 4%;
    padding: 0px;
    font-size: 16px;
  }
  .add-url {
    position: absolute;
    margin-left: 125px;
    margin-top: 10px;
    height: 29px;
  }
  .url-container {
      position: absolute;
      margin-top: 70px;
  }
  .url-button {
      margin: 10px;
      width : 150px;
      height: 45px;
      font-size: 16px;
  }
  .url-remove {
    height: 43px;
    margin-left: -10px;
  }
  .feed-itme-container{
    margin-left: 30%;
    width: 69%;
  }
  .header {
    font-size: 40px;
    margin-left: 50%;
  }